body{
    background-color: aliceblue;
    font: 1em sans-serif;
}

h1{
    margin: auto;
    padding: 10vh;
    font-size: 10vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.btn{
    margin-top: 20vh;
    border: none;
    background-color: blue;
    color: white;
    border-style: 2px solid white;
    padding: 10px 50px;
    outline: none;
    cursor: pointer;
}

.content{
    margin: 5vh;
    padding: auto;
    border: 1px solid black;
}